examples/3_node_red/queue_display_flow.json
[
    {
        "id": "mqtt-in-queue",
        "type": "mqtt in",
        "z": "queue-display-flow",
        "name": "Queue topic",
        "topic": "restaurant/queue",
        "qos": "1",
        "datatype": "json",
        "broker": "",
        "x": 120,
        "y": 120,
        "wires": [["parse-queue"]]
    },
    {
        "id": "mqtt-in-ready",
        "type": "mqtt in",
        "z": "queue-display-flow",
        "name": "Ready topic",
        "topic": "restaurant/ready",
        "qos": "1",
        "datatype": "json",
        "broker": "",
        "x": 120,
        "y": 200,
        "wires": [["parse-ready"]]
    },
    {
        "id": "parse-queue",
        "type": "function",
        "z": "queue-display-flow",
        "name": "Build queue message",
        "func": "// msg.payload is already parsed JSON array by mqtt in\nvar numbers = msg.payload;\nvar text;\nif (!Array.isArray(numbers) || numbers.length === 0) {\n    text = 'No orders in queue';\n} else {\n    text = 'PREPARING:  ' + numbers.map(function(n){ return '#' + n; }).join('  ');\n}\nflow.set('queueText', text);\n// Only send to display if we are not currently showing a ready alert\nif (!flow.get('showingReady')) {\n    msg.payload = {\n        data: {\n            message: text,\n            textColor: '#FFFFFF',\n            backgroundColor: '#1A1A2E',\n            textSize: 'large',\n            scrollDirection: 'fromRightToLeft',\n            scrollSpeed: 4\n        }\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 340,
        "y": 120,
        "wires": [["vapix-notify"]]
    },
    {
        "id": "parse-ready",
        "type": "function",
        "z": "queue-display-flow",
        "name": "Build ready message",
        "func": "var numbers = msg.payload;\nif (!Array.isArray(numbers) || numbers.length === 0) {\n    // Ready list cleared - cancel any pending revert and show queue\n    var t = flow.get('revertTimer');\n    if (t) { clearTimeout(t); flow.set('revertTimer', null); }\n    flow.set('showingReady', false);\n    var queueText = flow.get('queueText') || 'No orders in queue';\n    msg.payload = {\n        data: {\n            message: queueText,\n            textColor: '#FFFFFF',\n            backgroundColor: '#1A1A2E',\n            textSize: 'large',\n            scrollDirection: 'fromRightToLeft',\n            scrollSpeed: 4\n        }\n    };\n    return msg;\n}\nvar text = 'ORDER READY:  ' + numbers.map(function(n){ return '#' + n; }).join('  ');\nflow.set('showingReady', true);\n// Schedule revert back to queue view\nvar existing = flow.get('revertTimer');\nif (existing) clearTimeout(existing);\nvar t = setTimeout(function() {\n    // Node-RED function node does not have access to `node` inside setTimeout\n    // so we use the trigger node output instead - see the trigger node\n    flow.set('showingReady', false);\n    flow.set('revertTimer', null);\n}, 8000);\nflow.set('revertTimer', t);\nmsg.payload = {\n    data: {\n        message: text,\n        textColor: '#000000',\n        backgroundColor: '#00CC44',\n        textSize: 'large',\n        scrollDirection: 'fromRightToLeft',\n        scrollSpeed: 5,\n        duration: { type: 'time', value: 8000 }\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 200,
        "wires": [["vapix-notify"]]
    },
    {
        "id": "vapix-notify",
        "type": "http request",
        "z": "queue-display-flow",
        "name": "POST to speaker display",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://SPEAKER_IP/config/rest/speaker-display-notification/v1/simple",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 580,
        "y": 160,
        "wires": [["debug-response"]]
    },
    {
        "id": "debug-response",
        "type": "debug",
        "z": "queue-display-flow",
        "name": "API response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "setup-note",
        "type": "comment",
        "z": "queue-display-flow",
        "name": "Setup required",
        "info": "Before deploying, configure the following nodes:\n\n1. Both 'mqtt in' nodes: select your MQTT broker\n2. 'POST to speaker display' node:\n   - Set URL to: http://<your-speaker-ip>/config/rest/speaker-display-notification/v1/simple\n   - Set username and password for the Axis device",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "queue-display-flow",
        "type": "tab",
        "label": "Queue Display",
        "disabled": false,
        "info": "Displays restaurant queue and ready tickets on an Axis Display Speaker.\n\nSubscribes to:\n  restaurant/queue  ->  list of orders being prepared\n  restaurant/ready  ->  list of orders ready for pickup\n\nPosts to the VAPIX Speaker Display Notification API on the speaker.\nReady alert shows for 8 seconds then reverts to queue view."
    }
]
